.container
{
border: 2px solid;
height: 120px;
width: 700px;
margin-left: 20%;
}

.container:hover{
    background-color:#e5e5e5;
}
.des2
{
    position:relative;
    margin: 12px;
    background-color:orangered;
    width: fit-content;
}
.des1{
    position: relative;
    margin-left: 60%;
    background-color: orangered;
    width: fit-content;
}