
<ul style="list-style: none;">
    <li *ngFor="let value of values" (click)="onSelect(value)">
        <div class="container">
        <h3>{{value.dt_txt | date:'EEEE, MMMM d, y, h:mm:ss a'}}</h3>
           <span class='des1' style="background-color: orangered;   border-radius: 3px;"> sky :{{value.weather[0].description}}</span>      
           <span class='des2' style="background-color: gray; border-radius: 3px;">wind_speed :{{value.wind.speed}}</span>
           <div> &nbsp;range:{{value.clouds.all}}</div>    
           <span> &nbsp;wind_deg :{{value.wind.deg}}</span> 
        </div>
    </li>
</ul>
