<h2> day Weather information</h2>
<ul style="list-style: none;">
    <li>
       <div class="con"> temp : 
        {{values.main.temp}}</div>
        <div class="con">
        temp_min : 
        {{values.main.temp_min}}</div>
        <div class="con">
        temp_max : 
        {{values.main.temp_max}}</div>
        <div class="con">
        pressure : 
        {{values.main.pressure}}</div>
        <div class="con">
        sea_level : 
        {{values.main.sea_level}}</div>
        <div class="con">
        grnd_level : 
        {{values.main.grnd_level}}</div>
        <div class="con">
        humidity : 
        {{values.main.humidity}}
        </div>
    </li>
</ul>
<br>
<br>
<button (click)="router.navigate(['/day']);">Go Back</button>